.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parallax {
  /* The image used */
  background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=bf20ca2d7a&attid=0.0.5&permmsgid=msg-f:1670694073174395669&th=172f7f6867e90b15&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ8f4h1Osw_PwCE5lAO3vWs1os0aNa_Vbd9-uAy075HmUPee3Nwo0YizfHli_PaZqLd9LgLPGkQRfhBf7E1pcFSr-BH767fYEnwdKh9svQ8wsjQiiF0yHVjOUfY&disp=emb&realattid=ii_kby8hllm5");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallelogram1 {
  width: 100%;
  height: 200px;
  transform: skew(20deg);
  background: black;
  left:-40px;
  position: relative;
}

#parallelogram2 {
  width: 90%;
  height: 200px;
  transform: skew(20deg);
  background: grey;
  left:0px;
  position: relative;

}

#square {
  width: 100px;
  height: 200px;
  background: grey;
  float: right;
}